<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Atems{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Atems</h1>
        <a href="{% url 'home' %}">Home</a> |
            {% if user.is_authenticated %}
                <a href="{% url 'listar_distribuidoras' %}">Distribuidora(s)</a> |
                <a href="{% url 'listar_jogos' %}">Jogo(s)</a> |
                <a href="{% url 'logout' %}">Sair</a>
                
            {% else %}
                <a href="{% url 'signup' %}">Cadastrar</a> |
                <a href="{% url 'login' %}">Entrar</a>
            {% endif %}
            <hr>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>