{% extends 'base.html' %}

{% block content %}

<h2>Distribuidora(s)</h2>
<ul>
    {% for distribuidora in distribuidoras %}
        <li>
            {{ distribuidora.nome }}
            <button><a href="{% url 'atualizar_distribuidora' distribuidora.id %}">Atualizar distribuidora</a></button>
            <button><a href="{% url 'adicionar_jogo_gratuito' %}">Adicionar jogo gratuito</a></button>
            <button><a href="{% url 'adicionar_jogo_pago' %}">Adicionar jogo pago</a></button>
            <button><a href="{% url 'listar_jogos_distribuidora' distribuidora.pk %}">Listar jogos</a></button>
            <button><a href="{% url 'apagar_distribuidora' distribuidora.id %}">Apagar</a></button>
        </li>
        
        <ul>
            {% for local in distribuidora.local.all %}
                <li>{{ local }}</li>
            {% endfor %}
        </ul>
        {% empty %}
            <p>Você não possui uma distribuidora de jogos cadastrada.</p>
            <button><a href="{% url 'adicionar_distribuidora' %}">Adicionar distribuidora</a></button>
    {% endfor %}
</ul>
{% endblock %}