{% extends 'base.html' %}

{% block title %}Distribuidora{% endblock %}
{% block content %}
<div class="container">

    <h2>Jogo(s)</h2>
    <h3>Gratuitos:</h3>
    <ul>
        {% for jogo_gratuito in jogos_gratuitos %}
        <li>
            {{ jogo_gratuito.nome }}
        </li>
        <ul>
            <li>Distribuidora: {{ jogo_gratuito.distribuidora }}</li>
            <li>Gênero: {{ jogo_gratuito.genero }}</li>
            <li>Classificação indicativa: {{ jogo_gratuito.classificacao_indicativa }}</li>
        </ul>
        <a href="{% url 'atualizar_jogo_gratuito' jogo_gratuito.pk %}" class="btn btn-success">Atualizar jogo gratuito</a>
        <a href="{% url 'apagar_jogo_gratuito' jogo_gratuito.id %}" class="btn btn-danger">Apagar</a>
        {% empty %}
        <p>Você não possui jogos gratuitos cadastrados.</p>
        {% endfor %}
    </ul>
    <h3>Pagos:</h3>
    <ul>
        {% for jogo_pago in jogos_pagos %}
        <li>
            {{ jogo_pago.nome }}
        </li>
        <ul>
            <li>Distribuidora: {{ jogo_pago.distribuidora }}</li>
            <li>Gênero: {{ jogo_pago.genero }}</li>
            <li>Classificação indicativa: {{ jogo_pago.classificacao_indicativa }}</li>
            <li>Preço: {{ jogo_pago.preco }}</li>
        </ul>
        <a href="{% url 'atualizar_jogo_pago' jogo_pago.pk %}" class="btn btn-success">Atualizar jogo pago</a>
        <a href="{% url 'apagar_jogo_pago' jogo_pago.id %}" class="btn btn-danger">Apagar</a>
        {% empty %}
        <p>Você não possui jogos pagos cadastrados.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}